
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap');




*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: montserrat;
    text-decoration: none;
}
/*Navigation bar start*/
nav{
    height: 73px;
    width: 100%;
    background: #183153;
    padding: 0 10%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 1px #293f5c solid;
}
nav ul .profile{
    width: 30px;
    border-radius: 50%;
    padding: 1px;
    border: 1px #a204fb solid;
    margin-left: 30px;
    cursor: pointer;
    object-fit: cover;
}
nav ul .profile:hover{
    border:1px #eb049e solid;
}
.profile-photo{
    display: flex;
    align-items: center;
}
.logo-wrapper{
    float: left;
}
.logo-wrapper .logo{
    cursor: pointer;
    float: left;
    width: 170px;
}
nav ul{
    float: right;
    display: flex;
    transition: all .5s;
}
nav li{
    margin: 0 10px;
    line-height: 70px;
    list-style: none;
}
nav a{
    color: white;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .2px;
    text-transform: uppercase;
    text-decoration: none;
}
ul a.active{
    border-bottom: 1px #fff solid
}
.effect a:hover{
    border-bottom: 1px #fff solid
}
label#icon{
    color: white;
    font-size: 20px;
    line-height: 70px;
    float: right;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
.menu .login-btn{
    background: #183153;
    border: 1px #ccc solid;
    padding: 5px 20px;
}
.menu .login-btn:hover{
    background: #010133;
    transition: .5s;
    border: 1px #ccc solid;
}
.user-submenu-wrapper .sub-menu .user-info img{
    width: 50px;
    border-radius: 50%;
    border:2px  #a204fb solid;
    object-fit: cover;
}
.user-submenu-wrapper{
    position: absolute;
    top: 100%;
    right: 10%;
    max-width: 100%;
    max-height: 0px;
    overflow: hidden;
    transition: max-height .5s;
    z-index: 200;
}
ul .profile-drop-mobile img{
    width: 50px;
    border-radius: 50%;
    border:2px  #a204fb solid;
    object-fit: cover;
}
nav ul .profile-drop-mobile{
    display: none;
    max-width: 100%;
    max-height: 0px;
    transition: max-height .5s;
    z-index: 200;
}
.user-submenu-wrapper.open-menu{
    max-height: 400px;
}
.sub-menu{
    background: #183153;
    padding: 40px;
    margin: 10px;
    box-shadow: 0px 5px 2px 0 rgba(182, 181, 181, 0.5);
}
.user-info{
    display: flex;
    align-items: center;
}
.user-info h3{
    font-size: 15px;
    font-weight: 600;
    padding-left: 10px;
    color: #fff;
}
.sub-menu hr{
    border: 0;
    height: 1px;
    width: 100%;
    background: #ffffff8a;
    margin: 15px 0 10px;
}
.user-menu-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
    margin: 12px 0 0 0;
    font-size: 14px;
}
.user-menu-link i{
    color: #fff;
}
.user-menu-link p{
    width: 100%;
    color: #fff;
    margin: 0 0 0 12px;
    font-size: 13px;
    font-weight: 300;
}
.user-menu-link:hover p{
    font-weight: 600;
    color: #fff;
}
/*END of Header Navbar Styling*/

#profile-view-section{
    background: #ecf3fd;
    padding: 1% 20% 4% 20%;
}
.profile-view-wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-items: center;
}
.expert-profile{
    width: 260px;
}
.expert-profile img{
    width: 100%;
    object-fit: cover;
}
.name-box-wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: start;
}
#name-box{
    padding: 1% 1%;
    box-shadow: 0 0 5px rgba(182, 181, 181, 0.945);
}
#name-box h1{
    font-size: 2em;
    font-weight: 700;
    letter-spacing: -1px;
    padding: 2px 0;
    margin: 0 0 10px 0;
    border-bottom: 1px #ccc solid;
}
.expert-profile p{
    font-size: 17px;
    font-weight: 600;
    padding: 10px 0;
    background: #183153;
    color: #fff;
    text-align: center;
    width: 100%;
}
.profileLeft{
    max-width: 35%;
    width: max-content;
}
.boxes{
    background-color: #fff;
    width: 100%;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(182, 181, 181, 0.5);
}
.generalDetails{
    width: 65%;
    background-color: #dddddd;
}
.generalDetails .dddd-backg{
    width: 100%;
    height: 100%;
    background: #dddddd;
}
.generalDetails p{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 500;
    padding: 4% 40% 4% 4%;
    border-right: 5px #183153 solid;
}
.generalDetails h3{
    font-size: 16px;
    padding:10px 20px;
    background-color: #183153;
    color: #fff;
}
.boxHeader{
    background-color: #183153;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1px;
    padding: .5em;
}
.boxPadder{
    padding: 1em;
}
.boxFlow li{
    list-style: none;
}
.boxPadder p, a{
    font-size: 15px;
    font-weight: 500;
}
.boxPadder p{
    font-weight: 500;
    color: #4b4b4b;
}
.secondRowWrapper{
    display: flex;
    justify-content: center;
    align-items: start;
}
.first-column-small{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.smallBox{
    margin: 6% 0 0 0;
}
.longBox{
    margin:2% 0 0 2%;
    height: auto;
}

.readMoreBtn{
    background: #183153;
    padding: 5px 10px;
    color: #fff;
    cursor: pointer;
    transition: .5s ease;
}
.readMoreBtn:hover{
    background: #02429b;
}
.readMoreText{
    display: none;
}
.readMoreText--show{
    display: inline;
}



/*Start of Search Results Page Footer Styling*/
.second-row{
    width: 100%;
    background: #fff;
    color: #183153;
    font-size: 12px;
    padding: 4%;
}
.second-row .second-footer-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 70px;
    width: 100%;
    justify-items: stretch;
}
.twofooter-column{
    display: flex;
    justify-content: center;
    align-items: center;
}
.twofooter-column p{
    font-weight: 500;
    padding-right: 15px;
    font-size: 14px;
}

.footer-logo i{
    font-size: 30px;
}
.footer-logo h1{
    font-size: 25px;
}
/*END of Search Results Page Footer Styling*/


/*Navigation bar Responsive Media Query*/
/*Navbar 2 Responsive Style*/
@media (max-width: 1048px){
    .logo-wrapper .logo{
        width: 220px;
        padding-left: 40px;
    }
    nav ul{
        margin-right: 20px;
    }
    nav a{
        font-size: 16px;
    }
}
@media (max-width: 909px){
    nav{
        padding: 0 0;
        z-index: 100;
    }
    .logo-wrapper .logo{
        width: 140px;
        padding-left: 40px;
    }
    label#icon{
        display: block;
    }
    nav ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        width: 100%;
        top: 10px;
        height: 100vh;
        background: #183153;
        left: -100%;
        text-align: center;
        transition: all .5s;
        z-index: -1;
    }
    nav li{
        margin: 5px 0;
        display: block;
        line-height: 50px;
    }
    nav a{
        font-size: 14px;
    }
    a.active,a:hover{
        border: none;
    }
    ul .menu{
        order: 2;
    } 
    .profile-photo{
        border-top: 1px #1b1c53 solid;  
        border-bottom: 1px #1b1c53 solid;  
        width: 100%;
        padding: 50px 0;
        margin-bottom: 30px;
        display: flex;
        justify-content: center;
        display: none;
    }
    nav ul.show{
        left: 0;
    }
    .profile-drop-mobile .sub-menu{
        padding: 5px 0;
        margin-top: 25px;
        width: 100%;
        border-bottom: 1px #465270 solid;
        box-shadow:none;
    }
    nav ul .profile-drop-mobile{
        order: 1;
        display: block;
        max-width: 100%;
        max-height: 0px;
        transition: max-height .5s;
        padding-bottom: 200px;
    }
    .user-menu-link{
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: #fff;
        margin: 12px 0 0 0;
        font-size: 14px;
    }
    .user-menu-link i{
        color: #fff;
        margin-right: -30px;
        font-size: 16px;
    }
    .user-menu-link .user-logout-icon{
        color: #fff;
        font-size: 18px;
    }

}
/*Navbar 2 Responsive Style*/
/*END of Navigation bar Responsive Media Query*/

/*iPad Air Device*/
@media screen and (max-width: 1024px){
    #profile-view-section{
        background: #ecf3fd;
        padding: 5% 10% 4% 10%;
    }
    .profileLeft{
        max-width: 35%;
        width: max-content;
    }
    .expert-profile{
        width: 195px;
    }
    .expert-profile img{
        width: 100%;
        object-fit: cover;
    }
    .generalDetails{
        width: 66%;
    }
    .generalDetails p{
        padding: 4% 25% 4% 4%;
    }
    .second-row .second-footer-content{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .twofooter-column p{
        font-weight: 600;
        padding-right: 15px;
        font-size: 15px;
    }
    
}
/*iPhone 6/7/8 Device*/
@media screen and (max-width: 667px){
    #profile-view-section{
        background: #ecf3fd;
        padding: 5%;
    }
    #name-box{
        padding: 2%;
    }
    #name-box h1{
        font-size: 1.8em;
        font-weight: 700;
        letter-spacing: -1px;
        line-height: 35px;
        padding: 2px 0;
        margin: 0 0 10px 0;
        border-bottom: 1px #ccc solid;
    }
    .expert-profile p{
        font-size: 20px;
        font-weight: 500;
    }
    .profileLeft{
        border-right:1px #dddddd solid;
        max-width: 100%;
    }
    .name-box-wrapper{
        width: 100%;
    }
    .expert-profile{
        width: 100%;
    }
    .expert-profile img{
        width: 100%;
        object-fit: cover;
    }
    .boxes{
        background-color: #fff;
        margin: 5% 5% 0 0;
    }
    .boxes{
        background-color: #fff;
        width: 100%;
        overflow: hidden;
        box-shadow: 0 0 10px rgba(182, 181, 181, 0.5);
    }
    .generalDetails{
        min-width: 100%;
        background-color: #dddddd;
    }
    .secondRowWrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
    }
    .first-column-small{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .smallBox{
        margin: 6% 0 0 0;
    }
    .boxFlow{
        display: flex;
        flex-direction: column;
    }
    .longBox{
        margin:6% 0 0 0;
        height: auto;
    }
    .second-row .second-footer-content{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }
    .twofooter-column{
        display: flex;
        justify-content:center;
        align-items: center;
    }
    .twofooter-column p{
        font-weight: 600;
        padding-right: 15px;
        font-size: 13px;
    }
    .second-footer-content .last-child{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

}
