
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: montserrat;
    scroll-behavior: smooth;
    text-decoration: none;
    transition: .2s linear;
}

/*Navigation bar start*/
nav{
    height: 73px;
    width: 100%;
    background: #183153;
    padding: 0 10%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
nav ul .profile{
    width: 30px;
    border-radius: 50%;
    padding: 1px;
    border: 1px #a204fb solid;
    margin-left: 30px;
    cursor: pointer;
    object-fit: cover;
}
nav ul .profile:hover{
    border:1px #eb049e solid;
}
.profile-photo{
    display: flex;
    align-items: center;
}
.logo-wrapper{
    float: left;
}
.logo-wrapper .logo{
    cursor: pointer;
    float: left;
    width: 170px;
}
nav ul{
    float: right;
    display: flex;
    transition: all .5s;
}
nav li{
    margin: 0 10px;
    line-height: 70px;
    list-style: none;
}
nav a{
    color: white;
    font-size: 14px;
    letter-spacing: .2px;
    text-transform: uppercase;
    text-decoration: none;
}
ul a.active{
    border-bottom: 1px #fff solid
}
.effect a:hover{
    border-bottom: 1px #fff solid
}
label#icon{
    color: white;
    font-size: 20px;
    line-height: 70px;
    float: right;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
.menu .login-btn{
    background: #183153;
    border: 1px #ccc solid;
    padding: 5px 20px;
}
.menu .login-btn:hover{
    background: #010133;
    transition: .5s;
    border: 1px #ccc solid;
}
.user-submenu-wrapper .sub-menu .user-info img{
    width: 50px;
    border-radius: 50%;
    border:2px  #a204fb solid;
    object-fit: cover;
}
.user-submenu-wrapper{
    position: absolute;
    top: 100%;
    right: 10%;
    max-width: 100%;
    max-height: 0px;
    overflow: hidden;
    transition: max-height .5s;
    z-index: 200;
}
ul .profile-drop-mobile img{
    width: 50px;
    border-radius: 50%;
    border:2px  #a204fb solid;
    object-fit: cover;
}
nav ul .profile-drop-mobile{
    display: none;
    max-width: 100%;
    max-height: 0px;
    transition: max-height .5s;
    z-index: 200;
}
.user-submenu-wrapper.open-menu{
    max-height: 400px;
}
.sub-menu{
    background: #183153;
    padding: 40px;
    margin: 10px;
    box-shadow: 0px 5px 2px 0 rgba(182, 181, 181, 0.5);
}
.user-info{
    display: flex;
    align-items: center;
}
.user-info h3{
    font-size: 15px;
    font-weight: 600;
    padding-left: 10px;
    color: #fff;
}
.sub-menu hr{
    border: 0;
    height: 1px;
    width: 100%;
    background: #ffffff8a;
    margin: 15px 0 10px;
}
.user-menu-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
    margin: 12px 0 0 0;
    font-size: 14px;
}
.user-menu-link i{
    color: #fff;
}
.user-menu-link p{
    width: 100%;
    color: #fff;
    margin: 0 0 0 12px;
    font-size: 13px;
    font-weight: 300;
}
.user-menu-link:hover p{
    font-weight: 600;
    color: #fff;
}

/*END of Header Navbar Styling*/

/*Slider Start */
.slider{
    height: 65vh;
    position: relative;
    width: 100%;
    background-image: linear-gradient(to right, rgba(255,0,0,0), #183153);
    overflow: hidden;
    z-index: 1;
  }

  .myslider{
    height: 100%;
    display: none;
    position: relative;
    overflow: hidden;
    background-position:top;
    background-size: cover;
  }
  .prev, .next{
    position: absolute;
    top: 40%;
    font-size: 20px;
    padding: 20px;
    cursor: pointer;
    color: #bbb;
    transition: 0.1s;
    user-select: none;
    text-decoration: none;

  }
  .prev:hover, .next:hover{
    color: #3498db;
    text-decoration: none;
  }
  .next{
    right: 0;
  }
  .dotsbox{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 20px;
    cursor: pointer;
  }
  .dot{
    display: inline-block;
    width: 8px;
    height: 8px;
    background: #f5f3f33d;
    border-radius: 50%;
    margin: 0 10px;
    cursor: pointer;
  }
  .dotsbox .active, .dot:hover{
    background: #f9fafc;
  }
 /* Add a slide effect to the Hero Slider */
.slide {
    animation: slide 1s;
}  
@keyframes slide {
    from {
      opacity: 0;
      transform: translateX(100%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
}
.revers-slide {
    animation: reverse-slide 1s;
  }
  @keyframes reverse-slide {
    from {
      opacity: 0;
      transform: translateX(-100%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
 /* Add a slide effect to the Hero Slider */ 
 
@keyframes post {
from {
    opacity: 0;
    transform: translateX(100%);
}
}
.descriptions{
    color: #fff;
    padding: 20px 20px;
    position: absolute;
    top: -10%;
    right: 5%;
    animation: post 1s;
    z-index: 1;
} 
.descriptions .listing{
    display: flex;
    align-items: center;
}
.descriptions .listing .bullet{
    margin-right: 5px;
    font-size: 12px;
}
.descriptions .listing p{
    margin: 120px 0;
    letter-spacing: 1px;
    font-weight: 300;
    font-size: 12px;
    color: #c9c9c9;
}
.text{
    color: #fff;
    text-align: center;
    line-height: 35px;
    padding: 20px 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: post 1s;
    z-index: 1;
} 
.text h1{
    color: #fff;
    font-weight: 700;
    font-size: 3.5rem;
    line-height: 1em;
}
.text p{
     font-size: 14px;
     font-weight: 200;
     color: #fff;
     line-height: 1.5em;
     letter-spacing: 1px;
     padding-top: 20px;
}
.myslider img{
    height: 100%;
    filter: brightness(60%); 
    transform: scale(1, 1);
    animation-name: zoomin;
    animation-duration: 40s;
    background-position:top;
    background-size: cover;
  }
  @-webkit-keyframes zoomin{
    from{transform: scale(1.1,1.1);}
    to{transform: scale(1, 1);}
  }
  @keyframes zoomin{
    from{transform: scale(1.1,1.1);}
    to{transform: scale(1, 1);}
  }

/*AUTO COMPLETE SEARCH BAR START*/
.search-box-section{
    height: 10vh;
    padding: 1% 10%;
    background: #183153;
    border-bottom: 1px #1b2844 solid;
}
.search-bar-wrapper{
    width: 100%;
    margin: 0px auto;
    max-width: 700px;
}
.search-bar-wrapper .search-input{
    position: relative;
    background-color: #fff;
    width: 100%;
    box-shadow: 0px 1px 5px 3px rgba(0,0,0,0.12);
}
.search-input input{
    height: 45px;
    width: 100%;
    border: none;
    outline: none;
    padding: 0 64px 0 64px;
    font-size: 18px;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
}
.search-icon-box{
    height: 55px;
    width: 55px;
    line-height: 55px;
    position: absolute;
    top: -3px;
    right: 0;
    text-align: center;
    font-size: 20px;
    color: #183153;
    cursor: pointer;
}
.user-icon-box{
    height: 55px;
    width: 55px;
    line-height: 55px;
    position: absolute;
    top: -3px;
    left: 0;
    text-align: center;
    font-size: 20px;
    color: #183153;
    cursor: pointer;
}
.search-input .autocom-box{
    max-height: 500px;
    overflow-y: auto;
    opacity: 0;
    pointer-events: none;
}
.search-input.active .autocom-box{
    padding: 10px 8px;
    opacity: 1;
    pointer-events: auto;
}
.autocom-box{
    pointer-events: none;
}
.autocom-box li{
    list-style: none;
    padding: 8px 12px;
    width: 100%;
    cursor: default;
    display: none;
}
.search-input.active .autocom-box li{
    display: block;
}
.autocom-box li:hover{
    background-color: #efefef;
}
/*AUTO COMPLETE SEARCH BAR END*/


.discover-experts-section{
    padding: 5% 10%;
    background: #183153;
    color: #fff;
}
.discover-experts-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.discover-title{
    max-width: 50%;
}
.discover-title h1{
    font-size: 3.2em;
    font-weight: 300;
    text-align: left;
    color: #fff;
}
.discover-content p{
    font-size: 16px;
    text-align: justify;
    color: #e0e0e0;
}
.discover-content{
    max-width: 50%;
}

/*How It Works Carousel*/
.testimonials-section{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #e8f1fd;
}
.slide-show img{
    height: 170px;
    width: 170px;
    object-fit: cover;
    border-radius: 50%;
}
.slide-show p{
    text-align: center;
    padding: 0 100px;
    font-size: 14px;
    font-weight: 500;
    color: #7c7c7c;
}
.slide-show .quote-icon{
    font-size: 30px;
    color: #4070f4;
}
.slide-show .details{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.details .name{
    font-size: 14px;
    font-weight: 700;
    color: #333;
}
.details .job{
    font-size: 14px;
    font-weight: 500;
    color: #4e4e4e;
}
.slideshow-container {
    max-width: 600px;
    margin: 0 auto;
    position: relative;
    position: relative;
    max-width: 900px;
    width: 100%;
    background: #fff;
    box-shadow: 0 0 10px rgba(212, 212, 212, 0.63);
    padding: 50px 0;
    row-gap: 30px;
    overflow: hidden;
    cursor: pointer;
    transition: all .5s linear ease;
}
.slideshow-container .slide-show{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 30px;
}
.testimonial-slide {
    display: none;
}
  .swiper-button-prev, .swiper-button-next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    font-size: 20px;
    text-decoration: none;
    color: #332e2e;
    border-radius: 5px;
  }
  .swiper-button-prev {
    left: 10px;
  }
  .swiper-button-next {
    right: 10px;
  }
  .slideshow-container a{
    color: #cccccc8e;
  }
/* Add a slide effect to the testimonials */
.slide {
    animation: slide 1s;
  }
  @keyframes slide {
    from {
      opacity: 0;
      transform: translateX(100%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  /* Style the pagination dots */
/* Add a reverse slide effect to the testimonials */
.reverse-slide {
    animation: reverse-slide 1s;
  }
  @keyframes reverse-slide {
    from {
      opacity: 0;
      transform: translateX(-100%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  /************************************/

.how-it-works-section{
    height: auto;
    padding: 8% 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.how-it-works-section h1{
    margin:0 0 10% 0;
    font-size: 2.5em;
}
.how-it-works-section .card{
    height: 300px;
    max-width: 100%;
    padding:5% 2%;
    box-shadow: 0 0 10px rgba(190, 190, 190, 0.527);
    margin: 0 5px;
    position: relative;
    overflow: hidden;
}
.cards-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cards-wrapper .card-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.card-content .card-icon{
    font-size: 50px;
    color: #183153;
    margin:0 0 30% 0;
}
.card-content p{
    font-size: 16px;
    font-weight: 400;
    color: #4e4e4e;
}
.top-stroke{
    background: #064083;
    width: fit-content;
    padding: 4px 40px;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    position: absolute;
    top: 20px;
    left: -35px;
    transform: rotate(-35deg)
}

.why-choose-section{
    height: auto;
    padding: 5% 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #f4fffa;
}
.why-choose-section h1{
    margin:0 0 6% 0;
    font-size: 2.5em;
}
.cards-row .why-choose-card{
    height: 350px;
    width: 100%;
    padding:5% 2%;
    box-shadow: 0 0 10px rgba(134, 134, 134, 0.664);
    margin: 0 30px;
    position: relative;
    overflow: hidden;
    background: #183153;
}
.why-choose-cards-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cards-row{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0 30px 0;
}
.cards-row .why-choose-card-content h3{
    padding: 0 0 30px 0;
    font-size: 25px;
    color: #fff;
}
.why-choose-cards-wrapper .why-choose-card-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.why-choose-card-content .why-card-icon{
    font-size: 50px;
    color: #fff;
    margin:0 0 15% 0;
}
.cards-row .why-choose-card-content p{
    font-size: 14px;
    font-weight: 400;
    color: #e2e2e2;
}
.why-stroke{
    background: #a204fb;
    width: fit-content;
    padding: 4px 40px;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    position: absolute;
    top: 15px;
    left: -35px;
    transform: rotate(-50deg)
}


/*Find Experts By Numbers Styling Start*/
.experts-by-numbers{
    min-height: 60vh;
    background: #f1f6fa;
    background-image: url(../assets/profile2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
    padding: 5% 10%;
    position: relative;
}
.experts-by-numbers::after{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(5, 5, 5, 0.7);
}
.transparency-cover{
    z-index: 1;
    position: relative;
}
.experts-by-numbers-title{
    text-align: center;
    font-size: 2.5em;
    color: #fff;
}
.experts-by-numbers-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 60px;
    flex-wrap: wrap;
}
.by-numbers-column h1{
    font-size: 4.5em;
    color: #fff;
}
.by-numbers-column p{
    font-size: 1.2em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -0.5px;
    font-weight: 400;
}
.by-numbers-column{
    text-align: center;
}
/*Find Experts By Numbers Styling End*/


.call-To-Action{
    padding: 3% 10%;
    display: flex;
    align-items: center;
    background: #183153;
    overflow: hidden;
}
.call-To-Action-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.left-call{
    max-width: 50%;
}
.left-call h3{
    font-size: 34px;
    color:#fff;
    padding: 0 0 5% 0;
}
.left-call p{
    font-size: 15px;
    color: #e2e2e2;
}
.right-call{
    width: 50%;
    display: flex;
    justify-content: end;
}
.right-call .call-btn{
    font-size: 1.5em;
    font-weight: 700;
    color: #183153;
    border: none;
    border-radius: 0;
    padding: 2% 10%;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.527);
    cursor: pointer;
}
.right-call .call-btn:hover{
    background: #011e47;
    transition: .3s ease;
    color: #fff;
    text-decoration: none;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.527);
}


.feedback{
    padding: 3% 10%;
    display: flex;
    align-items: center;
    background: #011e47;
    overflow: hidden;
}
.feedback-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.left-feedback{
    max-width: 50%;
}
.left-feedback h3{
    font-size: 35px;
    color:#fff;
    padding: 0 0 5% 0;
}
.left-feedback p{
    font-size: 15px;
    color: #e2e2e2;
}
.right-feedback form{
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.right-feedback textarea{
    background: #0e1f4e;
    outline: none;
    border: none;
    margin: 10px 0;
    padding: 5px;
    width: 350px;
    height: 60px; 
    color: #fff;
    resize: none; 
    border: 1px #d9e5f74d  solid;
}
.right-feedback form input{
    border: 1px #d9e5f74d solid;
    background: #0e1f4e;
    width: 100%;
    height: 30px;
    padding: 5px;
    color: #fff;
    outline: none;
    margin: 8px 5px 0 0;
}
.right-feedback .btn-feedback{
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 700;
    color: #183153;
    border: none;
    border-radius: 0;
    padding: 3% 4%;
    width: 100%;
    margin:0;
    align-self: end;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.527);
    cursor: pointer;
}
.right-feedback .btn-feedback:hover{
    background: #011e47;
    transition: .3s ease;
    color: #fff;
    text-decoration: none;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.527);
}


/*Footer setting start*/
.full-in-two{
    min-height: 60vh;
    padding: 5% 10% 0 10%;
}
footer{
    background: #183153;
    color: #fff;
    line-height:1.5em;
}
.footer-row{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 70px;
    width: 100%;
    justify-items: stretch;
    padding-bottom: 5%;
}
.social-icon i{
    font-size: 30px;
    padding: 5px;
}
.footer-title h1{
    font-size: 15px;
    padding-bottom: 20px;
    color: #fff;
    font-weight: 600;
}
.footer-column{
    font-weight: 300;
}
.footer-column li{
    text-align: left;
    list-style: none;
    font-size: 12px;
}
.footer-column p{
    font-size: 12px;
    font-weight: 300;
    padding-bottom: 30px;
}
.footer-column a{
    text-decoration: none;
    color: #131212;
    font-size: 12px;
    color: #fff;
    font-weight: 300;
}
.footer-column a:hover{
    color: #0066ff;
}

/*Footer second row*/
footer .second-row{
    background: #fff;
    color: #183153;
    font-size: 12px;
    padding: 4%;
}
.second-row .second-footer-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 70px;
    width: 100%;
    justify-items: stretch;
}
.twofooter-column{
    display: flex;
    justify-content: center;
    align-items: center;
}
.twofooter-column p{
    font-weight: 500;
    padding-right: 15px;
    font-size: 13px;
}

.footer-logo i{
    font-size: 30px;
}
.footer-logo h1{
    font-size: 25px;
}

/*Scroll Top Button*/
#topscroll {
    position: fixed; 
    bottom: 50px; 
    right: 30px;
    z-index: 99; 
    border: none; 
    outline: none;
    background: #a204fb;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 50em;
    font-size: 18px;
  } 
  #topscroll:hover {
    background-color:#018abd;
  }

/*Starting of all Media Query Responsive Stylings*/
/*Mobile Menu*/


/*Navbar 2 Responsive Style*/
@media (max-width: 1048px){
    .logo-wrapper .logo{
        width: 220px;
        padding-left: 40px;
    }
    nav ul{
        margin-right: 20px;
    }
    nav a{
        font-size: 16px;
    }
}
@media (max-width: 909px){
    nav{
        padding: 0 0;
        z-index: 100;
    }
    .logo-wrapper .logo{
        width: 140px;
        padding-left: 40px;
    }
    label#icon{
        display: block;
    }
    nav ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        width: 100%;
        top: 10px;
        height: 100vh;
        background: #183153;
        left: -100%;
        text-align: center;
        transition: all .5s;
        z-index: -1;
    }
    nav li{
        margin: 5px 0;
        display: block;
        line-height: 50px;
    }
    nav a{
        font-size: 14px;
    }
    a.active,a:hover{
        border: none;
    }
    ul .menu{
        order: 2;
    } 
    .profile-photo{
        border-top: 1px #1b1c53 solid;  
        border-bottom: 1px #1b1c53 solid;  
        width: 100%;
        padding: 50px 0;
        margin-bottom: 30px;
        display: flex;
        justify-content: center;
        display: none;
    }
    nav ul.show{
        left: 0;
    }
    .profile-drop-mobile .sub-menu{
        padding: 5px 0;
        margin-top: 25px;
        width: 100%;
        border-bottom: 1px #465270 solid;
        box-shadow:none;
    }
    nav ul .profile-drop-mobile{
        order: 1;
        display: block;
        max-width: 100%;
        max-height: 0px;
        transition: max-height .5s;
        padding-bottom: 200px;
    }
    .user-menu-link{
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: #fff;
        margin: 12px 0 0 0;
        font-size: 14px;
    }
    .user-menu-link i{
        color: #fff;
        margin-right: -30px;
        font-size: 16px;
    }
    .user-menu-link .user-logout-icon{
        color: #fff;
        font-size: 18px;
    }

}
/*Navbar 2 Responsive Style*/ 
@media screen and (max-width: 900px){
    .slider{
        height: 65vh;
        position: relative;
        width: 100%;
        overflow: hidden;
        z-index: 1;
      }
      .myslider img{
        height: 100%;
        object-fit: cover;
      }
    .myslider .text p{
        display: none;
    }
    .text h1{
        font-size: 40px;
    }
    .how-it-works-section .cards-wrapper{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        width: 100%;
    }
    .card-content .card-icon{
        font-size: 40px;
        margin:0 0 10% 0;
    }
    .how-it-works-section .card{
        height: 300px;
        max-width: 100%;
        padding: 30% 2%;
        box-shadow: 0 0 10px rgba(180, 180, 180, 0.527);
        margin: 0 5px;
    }
    .why-choose-section{
        height: auto;
        padding: 8% 8%;
    }
    .cards-row{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 30px 0 0 0;
    }
    .why-choose-section h1{
        margin:0 0 6% 0;
        font-size: 2em;
    }
    .cards-row .why-choose-card{
        box-shadow: 0 0 10px rgba(68, 68, 68, 0.664);
        margin: 0 15px;
    }
    .feedback{
        padding: 10% 10%;
    }
    .feedback-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .left-feedback{
        max-width: 100%;
    }
    .left-feedback h3{
        font-size: 30px;
        color:#fff;
        padding: 0 0 3% 0;
        text-align: left;
    }
    .left-feedback p{
        font-size: 16px;
        color: #e2e2e2;
        padding-bottom: 20px;
    }
    .right-feedback form{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .right-feedback form input{
        font-size: 16px;
        letter-spacing: 1px;
        color: #dddcdc;
        height: 35px;
    }
    .right-feedback textarea{
        background: #0e1f4e;
        outline: none;
        border: none;
        font-size: 16px;
        letter-spacing: 1px;
        margin: 10px 0;
        padding: 5px;
        width: 100%;
        height: 100px; 
        color: #fff;
        resize: none; 
        border: 1px #d9e5f74d  solid;
    }
    .right-feedback{
        width: 100%;

    }
    .right-feedback .btn-feedback{
        width: 100%;
        font-weight: 600;
        padding: 2% 10%;
        font-size: 1.2em;
    }
    
}
/*Media Query For Header Slider*/
@media screen and (max-width: 800px){
    .myslider{
      height: 80vh;
    }
    .text{
      line-height: 25px;
      top: 30%;
      left: 50%;
      transform: translate((-50%, -50%));
    }
    .text h1{
        font-size: 30px;
    }
    .discover-title h1{
        line-height: 1em;
        font-size: 2.5em;
    }
    .discover-content p{
        font-size: 13px;
        font-weight: 300;
        letter-spacing: .5px;
    }
    .call-To-Action{
        padding: 8% 5%;
    }
    .call-To-Action-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .left-call{
        max-width: 100%;
        padding-bottom:30px;
        text-align: center;
    }
    .right-call .call-btn{
        align-self: center;
        margin: 0 auto;
    }
    .experts-by-numbers::after{
        background: #f6fff7;
    }
    .experts-by-numbers-title{
        color: #011e47;
    }
    .experts-by-numbers p{
        color: #011e47;
    }
}
/*/End of Media Query For Header Slider*/
/*Media Query For Front Page*/
@media screen and (max-width: 800px){
    .experts-by-numbers{
        min-height: 50vh;
        background: #f1f6fa;
        padding: 8% 10%;
    }
    .experts-by-numbers-row{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding-top: 60px;
        flex-wrap: wrap;
    }
    .by-numbers-column h1{
        font-size: 4.5em;
        color: #183153;
        text-align: center;
    }
    .by-numbers-column p{
        font-size: 1.5em;
        text-transform: uppercase;
        letter-spacing: -0.5px;
        font-weight: 600;
    }
    .footer-row{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 45px;
        width: 100%;
        justify-items: stretch;
        padding-bottom: 5%;
    }
    .footer-column{
        display: flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
    }
    .footer-row .first-child p{
        text-align: center;
    }
    .footer-column li{
        list-style: none;
        font-size: 15px;
        font-weight: 400;
        line-height: 30px;
    }
    .footer-column a{
        font-size: 15px;
        font-weight: 300;
    }
    .footer-column p{
        font-size: 15px;
        font-weight: 300;
        padding-bottom: 30px;
        line-height: 30px;
    }
    .footer-title h1{
        font-size: 18px;
        font-weight: 600;
        letter-spacing: 1px;
    }
    .second-row .second-footer-content{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
        width: 100%;
        justify-items: stretch;
    }
    .twofooter-column{
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
    }
    .twofooter-column p{
        font-weight: 600;
        padding-right: 15px;
        font-size: 15px;
    }
}
@media screen and (max-width: 720px){
    .left-call{
        max-width: 100%;
        padding-bottom:30px;
        text-align: center;
    }
    .call-To-Action h3{
        font-size: 1.5em;
    }
    .right-call .call-btn{
        align-self: center;
        margin: 0 auto;
        font-size: 1.2em;
        font-weight: 700;
        color: #fff;
        border: none;
        border-radius: 0;
        padding: 4% 10%;
        background: #02acf0;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.527);
        cursor: pointer;
    }
}
@media screen and (max-width: 720px){
    .discover-experts-section{
        padding: 10% 3%;
    }
    .discover-experts-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .discover-title, .discover-content{
        max-width: 100%;
    }   
    .discover-title h1{
        line-height: 1em;
        font-size: 2em;
        font-weight: 600;
        padding-bottom: 20px;
    }
    .discover-content p{
        font-size: 16px;
        font-weight: 300;
    }
    .by-numbers-column h1{
        font-size: 4.5em;
        color: #183153;
        text-align: left;
    }
    .experts-by-numbers-row{
        display: flex;
        align-items: start;
        padding-top: 60px;
    }
    .experts-by-numbers{
        background: #f1f6fa;
        padding: 20% 5%;
    }
    
    .experts-by-numbers-title{
        text-align: left;
        font-size: 2.4em;
    }
    .full-in-two{
        min-height: 65vh;
        padding: 20% 10% 0 10%;
    }
    .footer-row{
        padding-bottom: 15%;
    }
    .footer-column li{
        line-height: 30px;
    }
    .footer-column p{
        line-height: 30px;
    }
    .second-footer-content .last-child{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .second-footer-content .second-child{
        text-align: center;
    }
    footer .second-row{
        background: #fff;
        color: #183153;
        font-size: 12px;
        padding: 15% 5%;
    }
    .search-box-section{
        padding: 5% 10%;  
        z-index: 2;
    }
    .search-input input{
        height: 40px;
        width: 100%;
        border: none;
        outline: none;
        padding: 0 50px 0 50px;
        font-size: 14px;
        box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
    }
    .search-icon-box{
        height: 50px;
        width: 50px;
        line-height: 55px;
        position: absolute;
        top: -5px;
        right: 0;
        text-align: center;
        font-size: 20px;
        color: #183153;
        cursor: pointer;
    }
    .user-icon-box{
        height: 50px;
        width: 50px;
        line-height: 55px;
        position: absolute;
        top: -5px;
        left: 0;
        text-align: center;
        font-size: 20px;
        color: #183153;
        cursor: pointer;
    }
}
@media screen and (max-width: 620px){
    .text{
        line-height: 25px;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    .text h1{
        font-size: 25px;
        font-weight: 500;
        line-height: 2em;
    }
    .descriptions{
        position: absolute;
        top: -10%;
        right: 5%;
        animation: post 1s;
        z-index: 1;
    } 
    .descriptions .listing{
        display: flex;
    }
    .descriptions .listing .bullet{
        margin-right: 5px;
        font-size: 12px;
    }
    .descriptions .listing p{
        margin: 100px 0;
        letter-spacing: 1px;
        font-weight: 300;
        font-size: 12px;
        color: #c9c9c9;
    }
    .how-it-works-section .cards-wrapper{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        width: 100%;
    }
    .card-content .card-icon{
        font-size: 60px;
        margin:0 0 10% 0;
    }
    .how-it-works-section .card{
        height: 300px;
        max-width: 100%;
        padding: 10% 10%;
        border: 1px #c5c5c5 solid;
    }
    .card-content p{
        font-size: 1.5em;
    }
    .why-choose-section{
        height: auto;
        padding: 8% 10%;
    }
    .cards-row{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 5px 0 0 0;
    }
    .why-choose-section h1{
        margin:0 0 6% 0;
        font-size: 1.5em;
    }
    .cards-row .why-choose-card{
        padding: 15% 10%;
        box-shadow: 0 0 10px rgba(68, 68, 68, 0.664);
        margin: 20px 0px;
    }
    .why-choose-cards-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .why-choose-card-content .why-card-icon{
        margin:0 0 10% 0;
    }
}
@media screen and (max-width: 550px){
    .left-call{
        max-width: 100%;
        padding-bottom:30px;
        text-align: center;
    }
    .left-call p{
        text-align: justify;
    }
    .call-To-Action h3{
        font-size: 1.5em;
    }
    .right-call .call-btn{
        font-size: 1em;
        font-weight: 700;
        padding: 5% 10%;
    }
}
@media screen and (max-width: 420px){
    .card-content .card-icon{
        font-size: 60px;
        margin:0 0 10% 0;
    }
    .how-it-works-section .card{
        height: 300px;
        max-width: 100%;
        padding: 20% 10%;
        border: 1px #c5c5c5 solid;
    }
    .card-content p{
        font-size: 1.2em;
    }
    .how-it-works-section{
        padding: 15% 5%;
    }
    .how-it-works-section h1{
        font-size: 1.5em;
    }
    .why-choose-section{
        padding: 20% 5%;
    }
    .why-choose-section h1{
        font-size: 19px;
    }
    .why-choose-card-content h3{
        font-weight: 400;
    }
    .why-choose-card-content p{
        font-size: 25px;
    }
    .left-call p{
        text-align: justify;
    }
    .call-To-Action h3{
        font-size: 1.2em;
    }
    .right-call .call-btn{
        font-size: .8em;
        font-weight: 700;
        padding: 5% 10%;
    }
}
/*End of Media Query For Front Page*/