
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: montserrat;
    scroll-behavior: smooth;
    text-decoration: none;
    transition: .2s linear;
}

/*Navigation bar start*/
nav{
    height: 73px;
    width: 100%;
    background: #183153;
    padding: 0 10%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 1px #293f5c solid;
}
nav ul .profile{
    width: 30px;
    border-radius: 50%;
    padding: 1px;
    border: 1px #a204fb solid;
    margin-left: 30px;
    cursor: pointer;
    object-fit: cover;
}
nav ul .profile:hover{
    border:1px #eb049e solid;
}
.profile-photo{
    display: flex;
    align-items: center;
}
.logo-wrapper{
    float: left;
}
.logo-wrapper .logo{
    cursor: pointer;
    float: left;
    width: 170px;
}
nav ul{
    float: right;
    display: flex;
    transition: all .5s;
}
nav li{
    margin: 0 10px;
    line-height: 70px;
    list-style: none;
}
nav a{
    color: white;
    font-size: 14px;
    letter-spacing: .2px;
    text-transform: uppercase;
    text-decoration: none;
}
ul a.active{
    border-bottom: 1px #fff solid
}
.effect a:hover{
    border-bottom: 1px #fff solid
}
label#icon{
    color: white;
    font-size: 20px;
    line-height: 70px;
    float: right;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
.menu .login-btn{
    background: #183153;
    border: 1px #ccc solid;
    padding: 5px 20px;
}
.menu .login-btn:hover{
    background: #010133;
    transition: .5s;
    border: 1px #ccc solid;
}
.user-submenu-wrapper .sub-menu .user-info img{
    width: 50px;
    border-radius: 50%;
    border:2px  #a204fb solid;
    object-fit: cover;
}
.user-submenu-wrapper{
    position: absolute;
    top: 100%;
    right: 10%;
    max-width: 100%;
    max-height: 0px;
    overflow: hidden;
    transition: max-height .5s;
    z-index: 200;
}
ul .profile-drop-mobile img{
    width: 50px;
    border-radius: 50%;
    border:2px  #a204fb solid;
    object-fit: cover;
}
nav ul .profile-drop-mobile{
    display: none;
    max-width: 100%;
    max-height: 0px;
    transition: max-height .5s;
    z-index: 200;
}
.user-submenu-wrapper.open-menu{
    max-height: 400px;
}
.sub-menu{
    background: #183153;
    padding: 40px;
    margin: 10px;
    box-shadow: 0px 5px 2px 0 rgba(182, 181, 181, 0.5);
}
.user-info{
    display: flex;
    align-items: center;
}
.user-info h3{
    font-size: 15px;
    font-weight: 600;
    padding-left: 10px;
    color: #fff;
}
.sub-menu hr{
    border: 0;
    height: 1px;
    width: 100%;
    background: #ffffff8a;
    margin: 15px 0 10px;
}
.user-menu-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
    margin: 12px 0 0 0;
    font-size: 14px;
}
.user-menu-link i{
    color: #fff;
}
.user-menu-link p{
    width: 100%;
    color: #fff;
    margin: 0 0 0 12px;
    font-size: 13px;
    font-weight: 300;
}
.user-menu-link:hover p{
    font-weight: 600;
    color: #fff;
}
/*END of Header Navbar Styling*/



.login-page{
    height: 100vh;
    background: linear-gradient(to bottom right, #fff);
}
.login-wrapper{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
/*Text Styling Left Side*/
.text-and-title-side{
    padding: 5% 0;
    position: relative;
}
.text-img-stacked{
    position: relative;
    width: 100%;
}
.text-img-stacked p, .text-img-stacked h3{
    position: absolute;
    top: 1%;
    left: 0%;
}
.illustrator-image{
    width: 400px;
}
.text-and-title-side p{
    font-size: 1em;
    color: #a204fb;
    font-weight: 300;
}
.text-and-title-side h3{
    font-size: 1.5em;
    line-height: 1em;
    color: #183153;
    padding: 5% 0 5% 0;
}
.text-and-title-side h1{
    font-size: 3.5em;
    line-height: 1em;
    color: #183153;
    /*
    color: #ffe710;
    */
}
.text-and-title-side .arrow-icon{
    color: #a204fb;
    font-size: 60px;
    position: absolute;
    right: 10%;
    top: 45%;
}
.text-and-title-side .down-arrow{
    display: none;
}
/*Login Form Styling*/
#form-center{
    height: 100vh;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
#form-center h1{
    text-align: center;
    padding: 0 0 20px 0;
    color: #183153;
    width: 100%;
    margin:0 auto;
}
#form-center form{
    padding: 0 40px;
    box-sizing: border-box;
    width: 400px;
}
form .content{
    position: relative;
    border-bottom: 1px solid #adadad;
    margin: 30px 0;
}
.content input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 18px;
    color: #183153;
    border: 1px #183153 solid;
    background: none;
    outline: none;
}
.content label{
    position: absolute;
    top:50%;
    left: 5px;
    color: #183153;
    transform: translateY(-50%);
    font-size: 14px;
    pointer-events: none;
    transition: .5s;
}
.content .input-icon{
    position: absolute;
    top:50%;
    right: 10px;
    color: #183153;
    transform: translateY(-50%);
    font-size: 14px;
    pointer-events: none;
    transition: .5s;
}
.content span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0;
    height: 2px;
    background: #183153;
    transition: .5s;
}
.content input:focus ~ label,
.content input:valid ~ label{
    top: -10px;
    color: #183153;
}
.content input:focus ~ span::before,
.content input:valid ~ span::before{
    width: 100%;
}
.pass{
    margin: -5px 0 20px 5px;
    color: #888;
    cursor: pointer;
    font-size: 13px;
}
.pass:hover{
    text-decoration: underline;
}
input[type="submit"]{
    width: 100%;
    height: 50px;
    font-size: 15px;
    background:#183153;
    border: 1px solid;
    outline: none;
    cursor: pointer;
    color: #ffffff;
    font-weight: 600;
}
input[type="submit"]:hover{
    box-shadow: 0 0 10px rgba(207, 207, 207, 0.5);
    border-color: #999;
    color: #fff;
    background: #011f49;
    transition: .5s;
}
.signup_link{
    margin: 30px 0;
    text-align: center;
    font-size: 14px;
    color: #183153;
}
a{
    text-decoration: none;
    color: #a204fb;
}
.signup_link a:hover{
    text-decoration: underline;
}
/*Start of Login Page Footer Styling*/
.second-row{
    width: 100%;
    color: #183153;
    padding: 3%;
    position: absolute;
    bottom: 0;
}
.second-row .second-footer-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 70px;
    width: 100%;
    justify-items: stretch;
    cursor: pointer;
}
.twofooter-column{
    display: flex;
    justify-content: center;
    align-items: center;
}
.twofooter-column p{
    font-weight: 500;
    padding-right: 15px;
    font-size: 9px;
}
.footer-logo i{
    font-size: 20px;
}
.footer-logo h2{
    font-size: 14px;
}
/*END of Login Page Footer Styling*/

/*Navbar 2 Responsive Style*/
@media (max-width: 1048px){
    .logo-wrapper .logo{
        width: 220px;
        padding-left: 40px;
    }
    nav ul{
        margin-right: 20px;
    }
    nav a{
        font-size: 16px;
    }
}
@media (max-width: 909px){
    nav{
        padding: 0 0;
        z-index: 100;
    }
    .logo-wrapper .logo{
        width: 140px;
        padding-left: 40px;
    }
    label#icon{
        display: block;
    }
    nav ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        width: 100%;
        top: 10px;
        height: 100vh;
        background: #183153;
        left: -100%;
        text-align: center;
        transition: all .5s;
        z-index: -1;
    }
    nav li{
        margin: 5px 0;
        display: block;
        line-height: 50px;
    }
    nav a{
        font-size: 14px;
    }
    a.active,a:hover{
        border: none;
    }
    ul .menu{
        order: 2;
    } 
    .profile-photo{
        border-top: 1px #1b1c53 solid;  
        border-bottom: 1px #1b1c53 solid;  
        width: 100%;
        padding: 50px 0;
        margin-bottom: 30px;
        display: flex;
        justify-content: center;
        display: none;
    }
    nav ul.show{
        left: 0;
    }
    .profile-drop-mobile .sub-menu{
        padding: 5px 0;
        margin-top: 25px;
        width: 100%;
        border-bottom: 1px #465270 solid;
        box-shadow:none;
    }
    nav ul .profile-drop-mobile{
        order: 1;
        display: block;
        max-width: 100%;
        max-height: 0px;
        transition: max-height .5s;
        padding-bottom: 200px;
    }
    .user-menu-link{
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: #fff;
        margin: 12px 0 0 0;
        font-size: 14px;
    }
    .user-menu-link i{
        color: #fff;
        margin-right: -30px;
        font-size: 16px;
    }
    .user-menu-link .user-logout-icon{
        color: #fff;
        font-size: 18px;
    }

}
/*Navbar 2 Responsive Style*/

/*-----------Login Media Queries--------------*/
/*iPad Device*/
@media only screen and (min-width: 768px) and (max-width: 1024px){
    nav{
        display: none;
    }
    .login-page{
        height: 100%;
        background: #fff;
    }
    .text-and-title-side{
        padding: 20% 5%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .text-img-stacked p, .text-img-stacked h3{
        top: -5%;
        left: 10%;
    }
    .illustrator-image{
        width: 700px;
    }
    .text-and-title-side p{
        font-size: 1.5em;
    }
    .text-and-title-side h3{
        font-size: 2em;
    }
    .text-and-title-side h1{
        font-size: 4.5em;
    }
    .text-and-title-side .right-arrow{
        display: none;
    }
    .text-and-title-side .down-arrow{
        display: block;
        right: 15%;
        top: 65%;
        font-size: 70px;
    }
    #form-center{
        display: flex;
        justify-content: start;
        align-items: flex-start;
        height: 85vh;
        width: 600px;
    }
    #form-center form{
        box-sizing: border-box;
        width: 100%;
        padding: 0 0%;
    }
    #form-center h1{
        text-align: center;
        font-size: 35px;
        padding: 0 0 80px 0;
        color: #183153;
        width: 100%;
        margin:0 auto;
    }
    form .content{
        position: relative;
        margin: 70px 0;
        border-bottom: 4px solid #adadad;
    }
    .content input{
        width: 100%;
        height: 40px;
        font-size: 25px;
        color: #183153;
    }
    .content label{
        color: #183153;
        font-size: 23px;
    }
    .content span::before{
        height: 4px;
    }
    .pass{
        font-size: 20px;
    }
    input[type="submit"]{
        height: 55px;
        font-size: 25px;
        border: 1.5px #111 solid;
        font-weight: 600;
    }
    .signup_link{
        font-size: 20px;
    }
    .second-row .second-footer-content{
        grid-gap: 50px;
    }
    .second-footer-content .footer-logo{
        display: flex;
        flex-direction: column;
    }
    .second-footer-content .second-child{
        text-align: center;
    }
    .second-footer-content .last-child{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .twofooter-column p{
        font-weight: 300;
        font-size: 10px;
    }
    .footer-logo h2{
        font-size: 14px;
    }
}
/*iPhone 6/7/8 Device*/
@media screen and (max-width: 736px){
    nav{
        display: none;
    }
    .text-and-title-side{
        padding: 20% 5%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .text-img-stacked p, .text-img-stacked h3{
        top: 5%;
        left: 10%;
    }
    .illustrator-image{
        width: 350px;
        margin-right: 20px;
    }
    .text-and-title-side .bounce-icon{
        font-size: 60px;
        position: absolute;
        right: 10%;
        top: 45%;
    }
    .text-and-title-side .right-arrow{
        display: none;
    }
    .text-and-title-side .down-arrow{
        display: block;
        right: 15%;
        top: 75%;
        font-size: 40px;
    }
    .text-and-title-side p{
        font-size: 1em;
        color: #a204fb;
        font-weight: 300;
    }
    .text-and-title-side h3{
        font-size: 1.2em;
    }
    .text-and-title-side h1{
        font-size: 2em;
        line-height: 1em;
        padding-right: 20px;
    }
    #form-center{
        background:#fff;
        height: 75vh;
        padding: 10% 10%;
    }
    #form-center form{
        box-sizing: border-box;
        width: 100%;
        padding: 0 15%;
    }
    #form-center form input{
        font-size: 16px;
    }
    .pass{
        font-size: 14px;
    }
    .second-row{
        width: 100%;
        color: #183153;
    }
    .second-row .second-footer-content{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 40px;
        cursor: pointer;
        align-items: center;
    }
    .twofooter-column{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .second-footer-content .footer-logo{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .second-footer-content .second-child{
        text-align: center;
    }
    .second-footer-content .last-child{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .twofooter-column p{
        font-weight: 500;
        padding-right: 15px;
        font-size: 7px;
    }
    
    .footer-logo i{
        font-size: 18px;
    }
    .footer-logo h2{
        font-size: 10px;
    }
}
/*Screen Width Of 280 X 653*/
@media only screen and (min-width: 280px) and (max-width: 653px){
    nav{
        display: none;
    }
    .text-img-stacked p, .text-img-stacked h3{
        top: 0%;
        left: 10%;
    }
    .illustrator-image{
        width: 300px;
        margin-right: 5px;
    }
    .text-and-title-side p{
        font-size: .8em;
    }
    .text-and-title-side h3{
        font-size: 1em;
    }
    .text-and-title-side h1{
        font-size: 1.5em;
    }
    .text-and-title-side .right-arrow{
        display: none;
    }
    .text-and-title-side .down-arrow{
        display: block;
        right: 15%;
        top: 75%;
        font-size: 40px;
    }
    #form-center h1{
        font-size: 1em;
        font-weight: 700;
    }
    #form-center{
        padding: 0;
    }
    #form-center form{
        box-sizing: border-box;
        width: 100%;
        padding: 0 10%;
    }
    form .content{
        position: relative;
        border-bottom: 2px solid #adadad;
        margin: 20px 0;
    }
    #form-center form input{
        font-size: 14px;
    }
    .pass{
        font-size: 10px;
    }
    .signup_link{
        font-size: 10px;
        font-weight: 300;
    }
    .content label{
        top:60%;
        left: 5px;
        font-size: 12px;
    }
    input[type="submit"]{
        height: 30px;
        font-size: 15px;
        background:#183153;
        font-weight: 600;
    }
    .twofooter-column p{
        font-weight: 500;
        padding-right: 15px;
        font-size: 5px;
    }
    
    .footer-logo i{
        font-size: 15px;
    }
    .footer-logo h2{
        font-size: 8px;
    }
}

